main.container {
    padding: 0 !important;
}
.container.responsivegrid.pl-pr-15{
    .cmp-container
{
    max-width: 1140px;
    margin: 0 auto;
}
}

.container.full-width-container {

    padding: 0 !important;
}

.container.pl-pr-15 {
    padding: 40px 15px;
}

.container.responsivegrid.full-width-container.aem-GridColumn.aem-GridColumn--default--12 {
    padding: 0;
}


#hero-banner {
    padding: 5rem 0 3rem 0;
    padding-left: 15px;

    .cmp-text {
        text-align: center;
    }
}

body.basicpage {
    // background-color: var(--background-color);
    // font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-family: Georgia, Times, 'Times New Roman', serif;
    background-color: #fff;

    p {
        color: var(--font-color);
    }
}

.teaser.pr-pl-15 {
    padding: 0 15px;

    .cmp-teaser {
        display: flex;

        &__content {
            width: 50%;
            padding-right: 15px;
            font-size: 26px;
            font-weight: 300;
            line-height: 36px;
            margin-bottom: 20px;
            font-family: 'Droid Serif', serif;
            font-style: italic;
        }

        &__description {
            font-size: 16px;
            line-height: 25px;
            font-family: 'Droid Serif', serif;
        }

        &__image {
            width: 50%;
        }

        &__title {
            color: var(--font-color);
            margin-top: 0;
        }

        &__action-link {
            padding: 10px 20px;

            text-decoration: none;
            font-size: var(--font-size);
            text-transform: uppercase;
            background-color: var(--button-background-color);
            color: var(--button-text-color);
            font-weight: bold;
                font-style: normal;

        }

    }
}

.cmp-container {

    .cmp-title__text {
        color: var(--title-font-color);
        text-transform: capitalize;
        font-weight: 600;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
    }

    .cmp-text {
        text-align: center;
    }


}

.button {
    display: block;
    text-align: center;
    margin-top: 2rem;

    .cmp-button {

        /* text-align:center;*/
        border-radius: 0px;
        border: 0;
        font-weight: bold;
        font-size: var(--font-size);
        padding: 10px 40px;
        margin: 30px 0;
        text-transform: capitalize;
        text-decoration: none;
        color: var(--button-text-color);
        background-color: var(--button-background-color);
        cursor: pointer;

        .cmp-link__screen-reader-only {
            display: none;
        }
    }

}




#container-subscribe {
    padding: 90px 15px;

    .title {
        .cmp-title__text {
            font-size: 30px;
            font-weight: 600;
            line-height: 35px;
            margin-bottom: 6px;
            color: var(--title-font-color);
        }
    }

    .container {
        padding-top: 10px;

        .cmp-form-text__text {
            height: 35px;
            border-radius: 0;
            border: none;
            box-shadow: none;
            padding: 0.5rem 0.75rem;
            font-size: 1rem;
            line-height: 1.25;
            width: 450px;
        }

        form {

            .cmp-form-button {
                height: 50px;
                border-radius: 0;
                border: none;
                box-shadow: none;
                background: var(--button-background-color);
                padding: 0px 35px;
                color: var(--button-text-color);
                font-weight: bold;
            }

            .text {
                text-align: center;
            }

        }

    }
}

#better-solutions {
    background-color: var(--background-color);
    padding: 40px;
}

// .button .cmp-button{
//     border-radius: var(--title-btn-radius) !important;
// }

#tile-container {
    padding: 1.5rem 0;

    .text {
        .cmp-text {
            font-size: 16px;
            font-family: Georgia, Times, 'Times New Roman', serif;
            color: #666;
            background-color: var(--background-color);
            margin: 10px;
            padding: 10px;

            p {
                b {
                    color: var(--title-font-color);
                }
            }
        }
    }

}



#get-in-touch {

    width: 570px;
    margin: 0 auto;

    .text {

        .cmp-form-text__text,
        .cmp-form-text__textarea {


            margin-bottom: 10px;
            box-shadow: none;
            background: #f5f5f5;
            border: none;
            width: 96%;
            height: 50px;
            padding-left: 20px;
            font-weight: 500;
            border-radius: 0;
        }
    }

    .button {
        .cmp-form-button {
            width: 100%;
            line-height: 48px;
            border: 2px solid var(--button-background-color);
            background: var(--button-background-color);
            font-size: 14px;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1px;
            border-radius: 0;
            color: var(--button-text-color);
        }

    }

}

fieldset {
    border: 0;
    border-top: 1px dotted var(--background-color);

    .cmp-form-options__label {
        margin-right: 30px;
    }

    .cmp-form-options__field.cmp-form-options__field--drop-down {
        width: 50%;
    }
}

/*header and footer styles*/
footer.experiencefragment {
    border-top: 0 !important;
    background-color: var(--background-color) !important;
    margin-top: 2.5rem;

    p {
        font-size: 16px;
        color: #dfdfdf;
        font-family: Georgia, Times, 'Times New Roman', serif;
        text-align: center;
    }
}

.experiencefragment {
    border-bottom: 0 !important;
    padding: 1em 1em !important;
    background-color: var(--background-color) !important;

    .cmp-container {
        display: flex !important;
        width: 100%;
    }

    .cmp-experiencefragment--header {
        .cmp-container {
            display: flex;
        }

        .cmp-container {
            .text {
                width: 15%;

                .cmp-text {
                    text-align: left;
                    font-weight: bold;

                }
            }

        }

    }

    a {
        color: var(--font-color);
        font-family: Georgia, Times, 'Times New Roman', serif;
    }

    a:hover {

        text-decoration: none !important;

    }

    .cmp-text {
        font-weight: bold;
        text-align: left;

        p {
            margin: 0;
        }
    }
}

.navigation {
    width: 60%;

}

.cmp-navigation__group {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;

}

.cmp-navigation__item--level-0:hover>.cmp-navigation__group {
    background: none !important;
}

.cmp-navigation__item--level-0 {
    width: 100%;
    display: list-item !important;
    list-style-type: none;
}

.cmp-navigation__item.cmp-navigation__item--active {
    .cmp-navigation__item-link {
        color: var(--font-color);
    }
}

.cmp_search__info {
    height: 0;
}

.carousel {
    .cmp-carousel__item {
        height: 450px;
    }

    .cmp-image__image,
    .cmp-image,
    .image {
        height: 100%;

    }

    .cmp-carousel__actions {
        position: absolute;
        top: 43%;
        width: 92%;
        padding: 0 50px;
    }

    .cmp-carousel__action--next {
        float: right;
    }

    .cmp-carousel__action {
        border: 2px solid var(--button-background-color);
        color: var(--button-text-color);
        font-size: 30px;
        height: 50px;
        background-color: var(--button-background-color);
        line-height: 30px;
        text-align: center;
        width: 50px;

        &:hover {
            background-color: transparent;
        }

    }

    .cmp-carousel__indicator {
        background-color: transparent;
        border: 1px solid var(--button-background-color);
    }

    .cmp-carousel__indicator--active {
        background-color: var(--button-background-color);
    }

    .cmp-carousel__indicators {
        position: absolute;
        bottom: 10%;
        left: 45%;
    }

}

.accordion {

    .cmp-accordion__title {
        color: var(--title-font-color);
    }

    .cmp-accordion__button {
        background-color: transparent;
        border-bottom: 1px solid var(--background-color);
        border-left: 0;
        border-right: 0;
        margin-bottom: 5px;
        border-top: 1px solid var(--background-color);
        padding: 10px;

    }

    .cmp-container .text {
        text-align: left;
    }
}

.left-align {
    .cmp-text {
        text-align: left;
    }
}

.right-align {
    .cmp-text {
        text-align: right;
    }
}

.center-align {
    .cmp-text {
        text-align: center;
    }
}

:root {
    --font-color: #000;
    --font-size: 20px;
    --background-color: #fff;
    --button-text-color: #fff;
    --button-background-color: #1bafb4;
    --title-font-color: #000;
}